<div class="demo-headline" style="padding:0px;">
    <h1 class="atm-logo">
        
        @if (auth)
        {
            <a href="\Operations">
                ATM
                <small>24 Hour Banking</small>
            </a>
        }
        else
        {
            <a href="\">
                ATM
                <small>24 Hour Banking</small>
            </a>
        }
    </h1>
</div>
@code{
    private bool auth;
}