<div class="demo-headline" style="padding:0px;">
    <h1 class="atm-logo">
        <AuthorizeView>
            <Authorized>
                <a href="\Operations">
                    ATM
                    <small>24 Hour Banking</small>
                </a>
            </Authorized>
            <NotAuthorized>
                <a href="\">
                    ATM
                    <small>24 Hour Banking</small>
                </a>
            </NotAuthorized>
        </AuthorizeView>
    </h1>
</div>
