@inherits LayoutComponentBase

<body>
    <div class="container">
        <Header />
        <div class="row">
            <div class="col-xs-12" id="screenView">
                @Body
            </div>
        </div>
    </div>
    <Footer />
</body>

