@page "/"
<div class="col-xs-8 text-center">
    <AuthorizeView>
        <Authorized>
            <h1 class="demo-section-title text-uppercase text-center">Insert Card to Begin</h1>
            <a href="\Operations">Go to Operations</a>
        </Authorized>
        <NotAuthorized>
            <a href="\Account\Login"><img src="/images/InsertCardAnimate.gif" alt="Login" /></a>
        </NotAuthorized>
    </AuthorizeView>
</div>

<AuthorizeView>
    <NotAuthorized>
        <div class="col-xs-4">
            <br />
            <a class="register-link" href="\Account\Register">
                <div class="side-tab">

                    <div class="tab-text-content center-block">
                        <span>Register your card </span>
                        <div>
                            <i class="fa fa-2x fa-credit-card"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </NotAuthorized>
</AuthorizeView>
