@page "/Operations/AccountOperations"
@using ATM.Security

<AccountBalance />

<div class="col-xs-4">
    <a href="Operations/Deposit">
        <div class="tile">
            <img src="images/deposit_vault.png" alt="Make a Deposit" class="tile-image big-illustration">
            <h3 class="tile-title">Deposit</h3>
            <p>Deposit monies in form of cash or check.</p>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <a href="Operations/Withdraw">
        <div class="tile">
            <img src="images/quick_cash.png" alt="Withdraw Funds" class="tile-image">
            <h3 class="tile-title">Withdrawl</h3>
            <p>Withdraw funds from account.</p>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <a href="Operations/TransferFunds" )">
        <div class="tile">
            <img src="images/transfer_money.png" alt="Transfer Funds to Another Account" class="tile-image">
            <h3 class="tile-title">Transfer</h3>
            <p>Transfer funds to another account.</p>
        </div>
    </a>
</div>
