@page "/Operations/Deposit"

<AccountBalance />

<div class="col-xs-4">
    <a href="/Operations/DepositCash">
        <div class="tile">
            <img src="images/quick_cash.png" alt="Deposit Cash" class="tile-image big-illustration">
            <h3 class="tile-title">Cash</h3>
            <p>Use this option to deposit cash monies.</p>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <a href="/Operations/DepositCheck">
        <div class="tile">
            <img src="images/deposit_check.png" alt="Deposit Checks" class="tile-image">
            <h3 class="tile-title">Check</h3>
            <p>Use this option to deposit a signed check.</p>
        </div>
    </a>
</div>

<div class="col-xs-4">
    <blockquote>Check deposits can take up to 24 hours to confirm.</blockquote>
</div>
