@page "/Operations/Success"

<div class="row">
    <div class="col-xs-12 text-center">
        <br />
        <br />
        <p><i style="color:green;" class="fa fa-check fa-4x"></i></p>
        <p>Operation Successful!</p>
        <p>Redirecting to homepage...</p>
    </div>
</div>

@code{
    private string _remainingSeconds = "3";
    [Inject] public NavigationManager NavigationManager { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await Task.Delay(3000);

        NavigationManager.NavigateTo("Operations");
    }
}
